# if 문

In [1]:
check = True
if check: #check가 True일 경우
    print('-' * 13) # '-' 문자를 13번 출력
    print('check is true')
    print('-' * 13) # '-' 문자를 13번 출력

-------------
check is true
-------------

In [2]:
check = False
if not check: 
    print('-' * 15) 
    print('check is false')
    print('-' * 15)

---------------
check is false
---------------

In [17]:
check = False
if check == False: 
        print('-' * 15) 
        print('check is false')
        print('-' * 15)

---------------
check is false
---------------

In [18]:

if check != True: 
    print('-' * 15)
    print('check is false')
    print('-' * 15)

---------------
check is false
---------------

In [21]:
age = 14
if age >= 19:
        print('You are an adult')
else: 
    print("You are not an adult")

You are not an adult

In [24]:
score = 84
if score >= 90:
    print('A')
elif score >= 80:
        print('B')
elif score >= 70:
    print('C')
elif score >= 60:
    print('D')

B

In [25]:
dist = 300
if dist >=0 and dist <= 50:# 0~50일때
    print("0~50")
elif dist >50 and dist <= 100:
    print("51~100")
else:
    print('OVER')

OVER

# while 반복문

In [1]:
i = 1
while i<=10: # 1~10
    print('i=%d' % i)
    i+=1

i=1
i=2
i=3
i=4
i=5
i=6
i=7
i=8
i=9
i=10

In [ ]:
print()

In [ ]:
while 1:
    print('input number : ')
    menu = int(input())
    if menu == 0 : break # 0을 입력하면 종료
    elif menu == 1: print('number one')
    elif menu == 99:
            continue
    elif menu == 2:
        print('number two')

input number :
3
input number :
6
input number :
88
input number :
99
input number :

# for 반복문

In [1]:
numbers = [1,2,3,4,5]
for n in numbers:
        print(n)

1
2
3
4
5

In [1]:
numbers = range(1,6)#1~5까지
for n in numbers:
    print(n)

1
2
3
4
5

In [2]:
# 좌표(x,y)를 저장하는 리스트 출력 

coord = [(0,0),(10,15), (20,25)]
for x, y in coord:
    print(x, y)

0 0
10 15
20 25

In [4]:
user = {'name' : 'Kei', 'age' : 35,'nationality' : 'Korea'}
user.keys()

dict_keys(['name', 'age', 'nationality'])

In [5]:
user = {'name' : 'Kei', 'age' : 35,'nationality' : 'Korea'}
for k in user.keys():
    print(k)

name
age
nationality

In [6]:
user = {'name' : 'Kei', 'age' : 35,'nationality' : 'Korea'}
user.values()

dict_values(['Kei', 35, 'Korea'])

In [7]:
user = {'name' : 'Kei', 'age' : 35,'nationality' : 'Korea'}
for v in user.values():
    print(v)

Kei
35
Korea

In [8]:
user = {'name' : 'Kei', 'age' : 35,'nationality' : 'Korea'}
user.items() # 데이터 쌍 리스트 출력

dict_items([('name', 'Kei'), ('age', 35), ('nationality', 'Korea')])

In [9]:
user = {'name' : 'Kei', 'age' : 35,'nationality' : 'Korea'}
for k,v in user.items():
    print(k, v)

name Kei
age 35
nationality Korea