# Series 객체 사용

In [3]:
import pandas as pd

numbers = pd.Series([100,200,300])

print(numbers)

scores = pd.Series([90,80,99], index=['국어','수학','영어'])

print(scores)

print(scores.index)

print(scores.values)

print(scores.index[1], scores.values[1])

0    100
1    200
2    300
dtype: int64
국어    90
수학    80
영어    99
dtype: int64
Index(['국어', '수학', '영어'], dtype='object')
[90 80 99]
수학 80

# DataFrame 객체 사용

In [4]:
import pandas as pd


temperatures = [[3.3, 34.5, 14.2, -10], [7.1,32.1,10.7,2]]
seasons = ['Spring','summer','Fail','Winter']
regions = ['Seoul','Pusan']

data = pd.DataFrame(temperatures, index=regions, columns=seasons)

print(data)
print("=" * 50)
print(data.index)
print(data.columns)
print(data.values)
print("=" * 50)

print(data['Spring']['Seoul'])
print("=" * 50)

print(data.head(2))
print("=" * 50)

print(data.tail(1))

       Spring  summer  Fail  Winter
Seoul     3.3    34.5  14.2     -10
Pusan     7.1    32.1  10.7       2
==================================================
Index(['Seoul', 'Pusan'], dtype='object')
Index(['Spring', 'summer', 'Fail', 'Winter'], dtype='object')
[[  3.3  34.5  14.2 -10. ]
 [  7.1  32.1  10.7   2. ]]
==================================================
3.3
==================================================
       Spring  summer  Fail  Winter
Seoul     3.3    34.5  14.2     -10
Pusan     7.1    32.1  10.7       2
==================================================
       Spring  summer  Fail  Winter
Pusan     7.1    32.1  10.7       2

In [5]:
import pandas as pd


user_list = pd.read_excel('sample.xlsx', sheet_name='Sheet1')
print(user_list)

     이름  나이       전화번호
0   Kei  35  1234-1234
1  Hong  26  4320-1420
2   Kim  41  1234-5678
3  Choi  38  4023-3411
4    Go  27  1469-4023